.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  font-size: x-large;
  color: #50fa7b;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .nav__link {
    font-size: large;
  }
}

.active {
  background-color: rgba(40, 42, 54, 0.8);
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 25px;
  }
}